@page "/home"
@* @rendermode InteractiveServer *@
@using Component
@using Syncfusion.Blazor.Navigations
@inject NavigationManager _navigate
@inject AuthenticationStateProvider _authenticationStateProvider
@using VibrantLibraryManagementV2.HelperServices
@inject CustomAuthenticationStateProvider _customAuthProvider

<PageTitle>Home</PageTitle>

<div class="main-container">

    <header class="header">
        <Navbar />
        <Search />
    </header>

    <Carousel />

    <div style="width: 100%; border-bottom: 1px solid lightgray;"></div>

    <div style="padding: 40px 100px;">
        @* <InterestAlert /> *@
    </div>

    <div style="width: 100%; border-bottom: 1px solid lightgray; height: 20dvh;"></div>

</div>
@code{
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            var authState = await _authenticationStateProvider.GetAuthenticationStateAsync();
            if (!authState.User.Identity.IsAuthenticated)
            {
                _navigate.NavigateTo("/login");
            }
            else
            {
                _navigate.NavigateTo("/home");
            }
        }
    }

    private async Task LogOut()
    {
        await _customAuthProvider.LogoutAsync();
        _navigate.NavigateTo("/login");
    }
}

<style>
    .main-container {
        display: flex;
        flex-direction: column;
        background: rgb(245, 249, 245);
    }

    .header {
        margin: 0px auto;
        width: 100%;
        border-bottom: 1px solid lightgray;
    }
</style>