@using Syncfusion.Blazor.Navigations

<div class="control-container">
    <SfCarousel AutoPlay="false" ShowIndicators="false">
        <CarouselItem>
            <div class="first">
                <div class="second" style="background: radial-gradient(circle at right top, transparent 40%, rgb(255 255 255)), linear-gradient(to top, rgb(255 255 255), transparent), url(@backgroundImage);">
                    <h4 class="recomendation-text">Vibrant Recommended 1212131</h4>
                    <figure class="img-container">
                        <div class="left-image-cu">
                            <img src=".././images/lord-of-the-rings-book-cover.jpg" alt="Golden Gate Bridge, San Francisco" style="height:100%;width:100%; border-radius: 20px;" />
                        </div>
                        <figcaption class="img-caption">
                            <div class="description">
                                <div>
                                    <h4>The Lord of the Rings</h4>
                                    <p>The Fellowship of the Ring</p>
                                    <h6>by J.R.R. Tolkien</h6>
                                </div>
                                <div>
                                    <h6>Summary</h6>
                                    <p>
                                        Frodo Baggins, a hobbit, is entrusted with the responsibility of destroying the One Ring, which holds the power to control the world. With the help of his loyal companions..
                                    </p>
                                </div>
                                <div>
                                    <h6>Ratings</h6>
                                    <SfRating Value="3" ReadOnly></SfRating>
                                    <div>
                                        <img src=".././icons/share.png" class="icon" />&nbsp; Share &nbsp;
                                        <img src=".././icons/heart.png" class="icon" /> &nbsp; Intersted
                                    </div>
                                </div>
                            </div>
                        </figcaption>
                    </figure>
                </div>
            </div>
        </CarouselItem>
        <CarouselItem>
            <div class="first">
                <div class="second" style="background: radial-gradient(circle at right top, transparent 40%, rgb(255 255 255)), linear-gradient(to top, rgb(255 255 255), transparent), url(@backgroundImage1);">
                    <h4 class="recomendation-text">Vibrant Recommended</h4>
                    <figure class="img-container">
                        <div class="left-image-cu">
                            <img src=".././images/harry-potter-book-cover.jpg" alt="Golden Gate Bridge, San Francisco" style="height:100%;width:100%; border-radius: 20px;" />
                        </div>
                        <figcaption class="img-caption">
                            <div class="description">
                                <div>
                                    <h4>Harry Potter</h4>
                                    <p>and philosophers stone</p>
                                    <h6>by J.K Rowling</h6>
                                </div>
                                <div>
                                    <h6>Summery</h6>
                                    <p>An 11-year-old orphan living with his unwelcoming aunt, uncle, and cousin, who learns of his own fame as a wizard known.</p>
                                </div>
                                <div>
                                    <h6>Ratings</h6>
                                    <SfRating Value="3" ReadOnly></SfRating>
                                    <div>
                                        <img src=".././icons/share.png" class="icon" />&nbsp; Share &nbsp;
                                        <img src=".././icons/heart.png" class="icon" /> &nbsp; Intersted
                                    </div>
                                </div>
                            </div>
                        </figcaption>
                    </figure>
                </div>
            </div>
        </CarouselItem>
    </SfCarousel>
</div>
@code{
    public string backgroundImage { get; set; } = "images/harry-potter-free.jpg";
    public string backgroundImage1 { get; set; } = "images/harry-potter-book-cover.jpg";
}

<style>
    .control-container {
        background-color: #e5e5e5;
        margin: 0 auto;
        width: 98vw;
        box-sizing: border-box;
        height: 430px;
    }

    .e-carousel .e-carousel-items .e-carousel-item .img-container {
        display: flex;
        width: 700px;
        gap: 30px;
        align-items: center;
        padding-bottom: 30px;
    }

        .e-carousel .e-carousel-items .e-carousel-item .img-container .left-image-cu {
            width: 280px;
            height: 300px;
            padding-left: 100px;
        }

    .e-carousel .e-carousel-items .e-carousel-item .img-caption {
        width: 320px;
    }

    .icon {
        width: 1rem;
    }

    .first {
        position: relative;
        width: 768px;
    }

    .second {
        position: absolute;
        left: 0px;
        top: 0px;
        content: "";
        background-repeat: no-repeat !important;
        background-size: cover !important;
        width: 100vw;
        min-height: 100%;
        
    }
        

    .recomendation-text {
        font-family: "Roboto", sans-serif;
        color: black;
        padding: 30px 100px;
    }

    @@media only screen and (max-width: 760px) {
        .e-carousel .e-carousel-items .e-carousel-item .img-container {
            display: flex;
            flex-direction: column;
            gap: 20px;
            align-items: center;
        }
    }
</style>