<div class="m-2 footer-padding footer-main">
    <p>2024 Copyright © Vibrant. All right reserved</p>
    <p>
        <span class="text-decoration-underline">Privacy policy</span>
        and
        <span class="text-decoration-underline">Terms of Service</span>
    </p>
</div>

@code {

}

<style>
    .footer-main{
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .footer-main p{
        padding: 0px;
        margin: 0px;
        font-family: roboto;
        font-size: 14px;
    }
</style>