<div class="interest-main-container">
    <div class="title">
        <h3>InterestAlert</h3>
        <p>See all</p>
    </div>
    <div>
        <SfCarousel SfCarousel Width="100%" ShowNavigation="true" ShowIndicators="false" ScrollItem="1"
                    ItemsPerView="5" NavigationButtonsPosition="Bottom">
            <CarouselItem>
                <div style="display: flex; flex-direction: row; gap: 100px;">
                    <div class="item-container-mini">
                        <img src=".././images/harry-potter-book-cover.jpg" class="slider-image-mini" />
                        <h3>Harry Potter</h3>
                        <p>by J.K Rowling</p>
                        <span style="display: flex; flex-direction: row; align-items: center;">
                            <img src=".././icons/star.png" class="star" />
                            <img src=".././icons/star.png" class="star" />
                            <img src=".././icons/star.png" class="star" />
                            <img src=".././icons/star.png" class="star" />
                            <img src=".././icons/star.png" class="star" />
                            &nbsp; 5/5
                        </span>
                    </div>
                    <div class="item-container-mini">
                        <img src=".././images/lord-of-the-rings-book-cover.jpg" class="slider-image-mini" />
                        <h3>The Lord of the Rings</h3>
                        <p>by J.R.R. Tolkien</p>
                        <span style="display: flex; flex-direction: row; align-items: center;">
                            <img src=".././icons/star.png" class="star" />
                            <img src=".././icons/star.png" class="star" />
                            <img src=".././icons/star.png" class="star" />
                            <img src=".././icons/star.png" class="star" />
                            <img src=".././icons/star.png" class="star" />
                            &nbsp; 5/5
                        </span>
                    </div>
                    <div class="item-container-mini">
                        <img src=".././images/harry-potter-book-cover.jpg" class="slider-image-mini" />
                        <h3>Harry Potter</h3>
                        <p>by J.K Rowling</p>
                        <span style="display: flex; flex-direction: row; align-items: center;">
                            <img src=".././icons/star.png" class="star" />
                            <img src=".././icons/star.png" class="star" />
                            <img src=".././icons/star.png" class="star" />
                            <img src=".././icons/star.png" class="star" />
                            <img src=".././icons/star.png" class="star" />
                            &nbsp; 5/5
                        </span>
                    </div>
                    <div class="item-container-mini">
                        <img src=".././images/lord-of-the-rings-book-cover.jpg" class="slider-image-mini" />
                        <h3>The Lord of the Rings</h3>
                        <p>by J.R.R. Tolkien</p>
                        <span style="display: flex; flex-direction: row; align-items: center;">
                            <img src=".././icons/star.png" class="star" />
                            <img src=".././icons/star.png" class="star" />
                            <img src=".././icons/star.png" class="star" />
                            <img src=".././icons/star.png" class="star" />
                            <img src=".././icons/star.png" class="star" />
                            &nbsp; 5/5
                        </span>
                    </div>
                    <div class="item-container-mini">
                        <img src=".././images/harry-potter-book-cover.jpg" class="slider-image-mini" />
                        <h3>Harry Potter</h3>
                        <p>by J.K Rowling</p>
                        <span style="display: flex; flex-direction: row; align-items: center;">
                            <img src=".././icons/star.png" class="star" />
                            <img src=".././icons/star.png" class="star" />
                            <img src=".././icons/star.png" class="star" />
                            <img src=".././icons/star.png" class="star" />
                            <img src=".././icons/star.png" class="star" />
                            &nbsp; 5/5
                        </span>
                    </div>
                </div>
            </CarouselItem>
        </SfCarousel>
    </div>
</div>

<style>
    .interest-main-container {
        padding: 0px 70px 0px;
    }

    .title {
        display: flex;
        justify-content: space-between;
    }

    .item-container-mini {
        display: flex;
        flex-direction: column;
        gap: 10px;
        max-width: 150px;
    }

    .slider-image-mini {
        width: 150px;
        height: 200px;
        border-radius: 10px;
    }

    .carousel2 {
        width: 95%;
        margin: 0px auto;
    }
</style>