@inject IJSRuntime JSRuntime

<link rel="stylesheet"  href="css/ReadingHistory.css"/>

<div class="interest-alert-title">
    <h3>Reading History</h3>
    <p style="margin: 0px;">View all</p>
</div>

<div class="interest-alerts-main-container" >
    <div class="blur-wrapper"></div>
    <div class="carousel" id="readingHistoryCarouselContainer" >
        @foreach (var item in CarouselItems)
        {
            <div class="carousel-slide-reading-history " >
                <CardLeftRight BookName="@item.Caption" ImageUrl="@item.Image" AlternativeText="@item.AltText" />
            </div>
        }
    </div>

    <button class="prev" @onclick="MovePrev">❮</button>
    <button class="next" @onclick="MoveNext">❯</button>
</div>


@code {
    public List<CarouselItemModel> CarouselItems = new List<CarouselItemModel>
    {
        new CarouselItemModel { Image = "/images/harry-potter-book-cover.jpg", AltText = "harry", Caption = "Harry Potter" },
        new CarouselItemModel { Image = "/images/lord-of-the-rings-book-cover.jpg", AltText = "lord of the rings", Caption = "Lord of the Rings" },
        new CarouselItemModel { Image = "/images/harry-potter-book-cover.jpg", AltText = "harry", Caption = "Harry Potter" },
        new CarouselItemModel { Image = "/images/lord-of-the-rings-book-cover.jpg", AltText = "lord of the rings", Caption = "Lord of the Rings" },
        new CarouselItemModel { Image = "/images/harry-potter-book-cover.jpg", AltText = "harry", Caption = "Harry Potter" },
        new CarouselItemModel { Image = "/images/lord-of-the-rings-book-cover.jpg", AltText = "lord of the rings", Caption = "Lord of the Rings" },
        new CarouselItemModel { Image = "/images/harry-potter-book-cover.jpg", AltText = "harry", Caption = "Harry Potter" },
        new CarouselItemModel { Image = "/images/lord-of-the-rings-book-cover.jpg", AltText = "lord of the rings", Caption = "Lord of the Rings" },
        new CarouselItemModel { Image = "/images/harry-potter-book-cover.jpg", AltText = "harry", Caption = "Harry Potter" },
        new CarouselItemModel { Image = "/images/lord-of-the-rings-book-cover.jpg", AltText = "lord of the rings", Caption = "Lord of the Rings" },
        new CarouselItemModel { Image = "/images/harry-potter-book-cover.jpg", AltText = "harry", Caption = "Harry Potter" },
        new CarouselItemModel { Image = "/images/lord-of-the-rings-book-cover.jpg", AltText = "lord of the rings", Caption = "Lord of the Rings" },
        new CarouselItemModel { Image = "/images/harry-potter-book-cover.jpg", AltText = "harry", Caption = "Harry Potter" },
        new CarouselItemModel { Image = "/images/lord-of-the-rings-book-cover.jpg", AltText = "lord of the rings", Caption = "Lord of the Rings" },
        new CarouselItemModel { Image = "/images/harry-potter-book-cover.jpg", AltText = "harry", Caption = "Harry Potter" },
        new CarouselItemModel { Image = "/images/lord-of-the-rings-book-cover.jpg", AltText = "lord of the rings", Caption = "Lord of the Rings" },
        new CarouselItemModel { Image = "/images/harry-potter-book-cover.jpg", AltText = "harry", Caption = "Harry Potter" },
        new CarouselItemModel { Image = "/images/lord-of-the-rings-book-cover.jpg", AltText = "lord of the rings", Caption = "Lord of the Rings" },
        new CarouselItemModel { Image = "/images/harry-potter-book-cover.jpg", AltText = "harry", Caption = "Harry Potter" },
        new CarouselItemModel { Image = "/images/lord-of-the-rings-book-cover.jpg", AltText = "lord of the rings", Caption = "Lord of the Rings" },
        new CarouselItemModel { Image = "/images/harry-potter-book-cover.jpg", AltText = "harry", Caption = "Harry Potter" },
        new CarouselItemModel { Image = "/images/lord-of-the-rings-book-cover.jpg", AltText = "lord of the rings", Caption = "Lord of the Rings" },
        new CarouselItemModel { Image = "/images/harry-potter-book-cover.jpg", AltText = "harry", Caption = "Harry Potter" },
        new CarouselItemModel { Image = "/images/lord-of-the-rings-book-cover.jpg", AltText = "lord of the rings", Caption = "Lord of the Rings" },
    };

    public class CarouselItemModel
    {
        public string Image { get; set; }
        public string Caption { get; set; }
        public string AltText { get; set; }
    }

    private async Task MoveNext()
    {
        await JSRuntime.InvokeVoidAsync("moveSlideleftright", 1);
    }

    private async Task MovePrev()
    {
        await JSRuntime.InvokeVoidAsync("moveSlideleftright", -1);
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JSRuntime.InvokeVoidAsync("initializeCarousel");
        }
    }
}
