<head>
    <link rel="stylesheet" href="/css/Search.css" />
</head>

<div style="display: @(LoadingDelay ? "none" : "" );" >
    <div class="search-library-catelog" style="display: @(ShowSearchSection ? "block" : "none")">
        <h3 class="search-library-catelog-text">Search Library Catalogue</h3>
        <div class="search-library-form">
            <SfTab LoadOn="ContentLoad.Dynamic">
                <TabItems>
                    <TabItem>
                        <HeaderTemplate>Basic Search</HeaderTemplate>
                        <ContentTemplate>
                            <div class='wrapper-cs'>
                                <div id="input-container-custom">
                                    <div class="search-input">
                                        <div style="position: relative;">
                                            <input type="text" placeholder="Search" style="padding-left: 35px;" />
                                            <img src="/icons/search.png" class="search-icon" />
                                        </div>
                                    </div>

                                    <div class="search-dropdown">
                                        <SfDropDownList TValue="string" TItem="Games" Placeholder="Keyword" DataSource="@LocalData" CssClass="search-dropdown-item">
                                            <DropDownListFieldSettings Value="ID" Text="Text"></DropDownListFieldSettings>
                                        </SfDropDownList>
                                    </div>
                                </div>

                                <div class="button-container">
                                    <SfButton CssClass="slc-search-button">Search</SfButton>
                                </div>
                            </div>
                        </ContentTemplate>

                    </TabItem>

                    <TabItem>
                        <HeaderTemplate>Advanced Search</HeaderTemplate>
                        <ContentTemplate>

                        </ContentTemplate>
                    </TabItem>

                    <TabItem>
                        <HeaderTemplate>Browse</HeaderTemplate>
                        <ContentTemplate>

                        </ContentTemplate>
                    </TabItem>
                </TabItems>
            </SfTab>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public bool LoadingDelay { get; set; }
    [Parameter]
    public bool ShowSearchSection { get; set; }
    SfTextBox TextBoxEmailObj;

    public async Task AddIcons()
    {
        await this.TextBoxEmailObj.AddIconAsync("prepend", "e-icons");
    }

    public class Games
    {
        public string ID { get; set; }
        public string Text { get; set; }
    }

    List<Games> LocalData = new List<Games> {
    new Games() { ID= "Game1", Text= "American Football" },
    new Games() { ID= "Game2", Text= "Badminton" },
    new Games() { ID= "Game3", Text= "Basketball" }
  };
}