#loading-spinner-custom {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #333;
    font-family: Arial, sans-serif;
}

.spinner-custom {
    border: 4px solid #f3f3f3;
    border-top: 4px solid #3498db;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin-custom 2s linear infinite;
    margin-bottom: 10px;
}

@keyframes spin-custom {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.span-custom-loading {
    font-size: 16px;
    font-weight: bold;
    color: #3498db;
}