.blur-wrapper {
    display: none;
    position: absolute;
    left: 100px;
    top: 0px;
    width: 47px;
    height: 100%;
    z-index: 1;
    background: linear-gradient(to right, rgb(255 255 255 / 11%) 13%, rgb(255 255 255 / 112%) 12%, rgb(255 255 255 / 15%) 87%), rgba(255, 255, 255, .7);
    box-shadow: 18px 0 12px -2px rgb(255 255 255 / 74%);
}

.interest-alert-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: roboto;
    padding: 30px 100px;
}

.interest-alerts-main-container {
    width: 97vw;
    position: relative;
    padding: 0px 110px;
    box-sizing: border-box;
}

.carousel {
    height: 280px;
    display: flex;
    gap: 20px;
    overflow: hidden;
    scroll-behavior: smooth;
}

.share-reading-history-card{
    font-size:12px;
    text-decoration:underline;
}

.carousel-slide-reading-history {
    width: 20rem;
    height: 190px;
    flex-shrink: 0;
}

.carousel-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.prev, .next {
    position: absolute;
    top: 35%;
    transform: translateY(-50%);
    background-color: transparent;
    color: white;
    border: none;
    cursor: pointer;
    margin: 10px 90px;
    color: black;
    font-weight: bold;
    font-size: 2em;
}

.prev {
    left: 0px;
    z-index: 2;
}

.next {
    right: -50px;
    color: lightgray;
}

.interest-alert-book-name {
    font-weight: bold;
    padding: 10px 0px;
    padding-bottom: 5px;
    margin: 0px;
    font-family: roboto;
}

.autor-interest-alert {
    margin: 0px;
    padding-bottom: 5px;
    font-size: 12px;
}

.ratings-interest {
    width: 100px;
}

.ratings img {
    width: 12px;
}

.ratings-container {
    display: flex;
    align-items: center;
    font-size: 12px;
}


@media only screen and (max-width: 760px) {
    .interest-alerts-main-container, .interest-alert-title {
        padding: 20px;
        width: 96vw;
    }

    /*.prev {
        margin: 5px 20px;
    }*/
    .prev {
        left: -92px !important;
        z-index: 2;
    }
    .next {
        /*margin: 5px 20px;*/

    }
    .next {
        right: -105px !important;
        color: lightgray;
    }

    .blur-wrapper {
        left: 10px;
    }
    
}

