@inherits LayoutComponentBase
@inject IJSRuntime JSRuntime

<PageTitle>VibrantLibraryManagementV2</PageTitle>

<head>
    <link rel="stylesheet" href="/css/MainLayout.css" />
</head>

<div id="loading-spinner-custom" style="position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%);">
    <div class="spinner-custom"></div>
</div>

<div class="page" id="app-wrapper">
    <main >
        @Body
    </main>
</div>